.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-150px);
}

.main h1 {
  margin-top: -80px;
}

.btnGo {
  padding: 0.8rem 1.6rem;
  background-color: transparent;
  border: solid 1.5px #999999;
  border-radius: 8px;
  color: #999999;
  cursor: pointer;
}

.btnGo:hover {
  border: solid 1.5px #0f8fff;
  color: #0f8fff;
}
